@import url('reset.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Urbanist, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0E1217;
  color: #FFFFFF;
}

.absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.btn {
  background-color: #70211C;
  border-radius: 15px;
}

.btn-text {
  color: white;
}

.btn:hover {
  border: 2px solid #70211C;
  color: black;
}